button {
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
    margin: 3px;
	background:transparent url('images/buttons.png') no-repeat 0 0;
}

.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
    margin-top: 6px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('images/item.png') no-repeat 0 4px;
}
