progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
    margin-top: 6px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }
